<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>App 渲染器</title>
    <link href="/next.theme.css" rel="stylesheet" />
    <% if (isRax && typeof raxRenderCssUrl === 'string') { %>
      <link href="<%= raxRenderCssUrl %>" rel="stylesheet" />
    <% } %>
    <link href="<%= previewCssUrl %>" rel="stylesheet" />
  </head>
  <body>
    <div id="ice-container"></div>
    <script>
      window.g_config = {
        locale: 'zh_CN',
      };
    </script>
    <% if (isRax && typeof raxRenderJsUrl === 'string') { %>
      <script src="/rax.1.1.0.js"></script>
      <script src="<%= raxRenderJsUrl %>"></script>
    <% } %>
    <script src="/react.16.14.0.js"></script>
    <script src="/react-dom.16.14.0.js"></script>
    <script src="/prop-types.15.7.2.js"></script>
    <script>
      React.PropTypes = PropTypes;
    </script>
    <script src="/common.js"></script>
    <script src="/moment.2.24.0.js"></script>
    <script src="/next.1.26.4.min.js"></script>
    <script type="text/javascript" src="./preview.js"></script>
  </body>
</html>
